
@font-face {
    font-family: "Determination";
    src: url(DeterminationMonoWebRegular-Z5oq.ttf);}


h1 {  color:#000000; font-weight: bolder; text-align: center; font-size: 60px; }
h3 { color:#fafafa;font-size: 40px; font-weight: lighter; letter-spacing: 1px; text-align: center;
 text-shadow:
     -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    background-color: rgba(255, 243, 5, 0.626);
    height: 40px;
    width: 300px;
    margin-left: 50px;
   mix-blend-mode: screen;
    inset: 0;
  z-index: -1;
    ;}







body {
    background-image: url('https://images.steamusercontent.com/ugc/12499624586055457477/F051EBF684F61C755339560381568A09F85A7BE7/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: "Determination";
    }
a {color: azure}

.buttons { color: white; font-size: 4rem; animation: Gradient 5s ease-out infinite; margin-left: 20px;
     
}
@keyframes Gradient{
    0% {text-shadow: 0 0 10px rgb(0, 251, 255), 
0 0 20px rgb(65, 252, 255), 
0 0 40px rgb(65, 252, 255),
0 0 80px rgb(172, 254, 255);}
30% {text-shadow: 0 0 10px rgb(255, 72, 218), 
0 0 20px rgb(255, 72, 218), 
0 0 40px rgb(255, 72, 218),
0 0 80px rgb(255, 72, 218);}
100% {text-shadow: 0 0 10px rgb(0, 251, 255), 
0 0 20px rgb(65, 252, 255), 
0 0 40px rgb(65, 252, 255),
0 0 80px rgb(172, 254, 255);}

}
.page-link {color:#ffffff;
     text-shadow:
    -1px -1px 0 #3df5ff,
    1px -1px 0 #3df5ff,
    -1px 1px 0 #3df5ff,
    1px 1px 0 #3df5ff; 
    font-size: 30px; 
     border: 3px solid; 
     border-radius: 30px;
     border-color: #37ffee; 
     position: absolute; 
     margin-left: 60px; 
     margin-top: -313px;
    padding: 2px 15px;}


.no {text-decoration: none;}

#heart {
    animation: pulseAnimate 1s ease-out infinite;
     position: absolute;
     margin-top: -590px;
     margin-left: 1190px;
}
@keyframes pulseAnimate{
    0% {
        width: 45px; height: 32px;
        opacity: 70%
    }
    100% {
        width: 53px; height: 40px;
        opacity: 100%
    }
}
#centering {padding-inline: 650px;}


.strokeme
{
    color: white;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px 3px 0 #000,
    3px 3px 0 #000; 
    
    font-size: 100px;
    letter-spacing: -1px;
    font-weight: lighter;

}
.yellow-text-outline {
    color: rgb(255, 255, 91);
     text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
    ;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0,5px;
    position: relative;
    

}

.animation {
  animation: myAnimation 1s ease-out infinite;
     position: absolute;
     margin: px;
     margin-left: px;
 
  
}

@keyframes myAnimation {
  0%   { background-image: url("kris_flirt0.png"); width: 528px; height: 360px; border: 0px}
  11%  {background-image: url("kris_flirt1.png"); width: 528px; height: 360px;border: 0px}
  22%  {background-image: url("kris_flirt2.png"); width: 528px; height: 360px;border: 0px}
  33%  {background-image: url("kris_flirt3.png"); width: 528px; height: 360px;border: 0px}
  44% {background-image: url("kris_flirt4.png"); width: 528px; height: 360px;border: 0px}
  55% {background-image: url("kris_flirt5.png"); width: 528px; height: 360px;border: 0px}
  66% {background-image: url("kris_flirt6.png"); width: 528px; height: 360px;border: 0px}
  77% {background-image: url("kris_flirt7.png"); width: 528px; height: 360px;border: 0px}
  88% {background-image: url("kris_flirt8.png"); width: 528px; height: 360px;border: 0px}
  100% {background-image: url("kris_flirt0.png"); width: 528px; height: 360px;border: 0px}
}

.chibi {
    width: 90px;
    height:90px
}
